<div class="row detailOffice">
    <div class="col-md-12">
        <div [ngClass]="'etatOffice '+( data.office.hasStranger | strangerPipe)+''+(data.office.size | officePipe:data.office.occupation)"></div>
        <h5  [ngClass]="'row col-12 '">
            Information générale :
            <ngx-dialog-update-office *nbIsGranted="['view','admin']" [officeName]="name()" [office]="data"
                                      class="iconClick" style="margin: auto 0 auto auto;">
            </ngx-dialog-update-office>
        </h5>
        <div class="row show-grid col-12">
            <div class="col-md-6">
                <div>Bâtiment : {{data.office.building}}</div>
            </div>
            <div class="col-md-6">
                <div>Étage : {{data.office.floor}}</div>
            </div>
            <div class="col-md-6">
                <div>Numéro : {{data.office.num}}</div>
            </div>
            <div class="col-md-6">
                <div>Taille : {{(data.office.occupation).toFixed(2)}}/{{data.office.size}}</div>
            </div>
        </div>
        <h5 class="col-12">Personne affecté
            <ngx-dialog-assignement *nbIsGranted="['view','admin']" (submit)="assignement($event)" [officename]="name()"
                                   class="iconClick">
            </ngx-dialog-assignement>
        </h5>
        <div class="row show-grid">
            <div class="col-md-12 all">
                <ul>
                    <li *ngFor="let person of data.persons" [ngClass]="(person | zombiePipe)+' row col-12' "
                        class="noPadMarg">
                        <span class="col-12 noPadding">
                            <i [ngClass]="'noPadding fas col-1 '+ ( person | StatusPipe )"
                               [nbTooltipPlacement]="'end'"  nbTooltip="{{person.statusName}}"
                               nbTooltipClass="officeManagerTooltip"></i>
                            {{person.firstname}} {{person.lastname}}
                            <ngx-warning-popup *nbIsGranted="['view','admin']" (submit)="suppPersonne($event)"
                                               [icon]="'minus'" [message]="message(person)" [object]="person"
                                               class="iconClick"></ngx-warning-popup>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-12" *ngIf="data.description!==''">
                <h5>Description </h5>
                <div>{{data.description}}</div>
            </div>
        </div>
    </div>
</div>