<div [ngClass]="'etatOffice '+(office | officePipe)"></div>
<nb-layout-column  >
    <nb-layout-column class="noPadding noMargin">
        <p class=" noMargin">Batiment : {{office.building}}</p>
        <p class=" noMargin">Etage : {{office.floor}}</p>
        <p class=" noMargin">Numéro : {{office.num}}</p>
        <p  class=" noMargin">Taille : {{office.personAssign.length}}/{{office.size}}</p>
        <p>person :</p>
        <ul>
            <li *ngFor="let person of office.personAssign">{{person.name}}</li>
        </ul>
        <p>Description :</p>
        <div>{{office.description}}</div>
    </nb-layout-column>
</nb-layout-column >
