<div class="row" style="max-height: 400px; max-width: 500px;">
    <div class="col-md-12">
        <div [ngClass]="'etatOffice '+( data.office.hasStranger | strangerPipe)+' '+(data.office.size | officePipe:data.office.occupation)"></div>
        <h5 >Information générale </h5>
        <div class="row show-grid col-12">
            <div class="col-md-6">
                <div>Bâtiment : {{data.office.building}}</div>
            </div>
            <div class="col-md-6">
                <div>Étage : {{data.office.floor}}</div>
            </div>
            <div class="col-md-6">
                <div>Numéro : {{data.office.num}}</div>
            </div>
            <div class="col-md-6">
                <div>Taille : {{(data.office.occupation).toFixed(2)}}/{{data.office.size}}</div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-md-12 all" >
                <div class="col-12 row">
                    <h5 class="col-12 noPadding">Personne
                        <ngx-dialog-assignement (submit)="assignement($event)" [officename]="name()"
                                                style="float: right"></ngx-dialog-assignement>
                    </h5>
                </div>
                <ul>
                    <li *ngFor="let person of data.persons" [ngClass]="(person | zombiePipe)+' row col-12' "
                    style="margin: 0;">
                        <span class="col-12" style="padding-left: 0 ">
                            <i [ngClass]="'fas col-1 '+ ( person | StatusPipe )" style="padding-left: 0 "></i>
                            {{person.firstname}} {{person.lastname}}
                            <ngx-warning-popup (submit)="suppPersonne($event)" [person]="person"
                            style="float: right"></ngx-warning-popup>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h5>Description </h5>
                <div>{{data.description}}</div>
            </div>
        </div>
    </div>
</div>