.etatOffice{
  height: 20px;
  margin: -3% -7% 3% -7%;
}
.fullOffice{
  background-color: orange;
}
.moreThanFullOffice{
  background-color: darkred;
}
.notFullOffice{
  background-color: transparent;
}
.emptyOffice{
  background-color: green;
}