::ng-deep {
  .nb-theme-default {
    nb-accordion {
      background-color: #ffffff !important;
    }
  }
  .nb-theme-cosmic {
    nb-accordion {
      background-color: #323259 !important;
    }
  }
  .nb-theme-dark {
    nb-accordion {
      background-color: #222b45 !important;
    }
  }
}
