<mat-dialog-content>
    <form novalidate [formGroup]="form">
        <table class="fullWidth noMargin" cellspacing="0">
            <tr class="col-lg-12 row noPadMarg">
                <td class="col-lg-12">
                    <mat-form-field class="full-width  offset-1 col-lg-10"
                                    [class.mgb15]="form.get('username').dirty && form.get('username').invalid">
                        <mat-label>Address mail</mat-label>
                        <input class="backInput fullWidth" type="email" matInput  formControlName="username" required name="username"
                               placeholder="prenom.nom@loria.fr"
                               pattern="([a-z]+)\.([a-z]+)@loria.fr"/>
                        <mat-error *ngIf="form.get('username').dirty && form.get('username').hasError('required')">
                            L'address mail est <strong>requis</strong>
                        </mat-error>
                        <mat-error *ngIf="form.get('username').dirty && !form.get('username').hasError('required')
                        && form.get('username').hasError('loriaEmail')">
                             L'email est incorrecte <strong>(ex: prenom.nom@loria.fr)</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width offset-1 col-lg-10"
                                    [class.mgb15]="form.get('password').dirty && form.get('password').invalid">
                        <mat-label>Mot de passe</mat-label>
                        <input class="backInput fullWidth" type="password" matInput  formControlName="password" required name="password"
                               placeholder="password"/>
                        <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">
                            Le mot de passe est <strong>requis</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="validatorPassword full-width offset-1 col-lg-10"
                         *ngIf="form.get('password').dirty && !form.get('password').hasError('required')">
                        <p class="valPerror" *ngIf="form.get('password').dirty && form.get('password').hasError('minlength')">
                            <nb-icon icon="close-outline"></nb-icon>
                            Le mot de passe doit contenir au <strong>minimum 8 caractère</strong></p>
                        <p class="valPsucces" *ngIf="form.get('password').dirty && !form.get('password').hasError('minlength')">
                            <nb-icon icon="checkmark-circle-outline"></nb-icon>
                            Le mot de passe contient au <strong>moins 8 caractère</strong></p>
                        <p class="valPerror" *ngIf="form.get('password').dirty && form.get('password').hasError('hasNumber')">
                            <nb-icon icon="close-outline"></nb-icon>
                            Le mot de passe doit contenir un <strong>nombre</strong></p>
                        <p class="valPsucces" *ngIf="form.get('password').dirty && !form.get('password').hasError('hasNumber')">
                            <nb-icon icon="checkmark-circle-outline"></nb-icon>
                            Le mot de passe doit contenir un <strong>nombre</strong></p>
                        <p class="valPerror" *ngIf="form.get('password').dirty && form.get('password').hasError('hasCapital')">
                            <nb-icon icon="close-outline"></nb-icon>
                            Le mot de passe doit contenir un caractère <strong>capital</strong></p>
                        <p class="valPsucces" *ngIf="form.get('password').dirty && !form.get('password').hasError('hasCapital')">
                            <nb-icon icon="checkmark-circle-outline"></nb-icon>
                            Le mot de passe doit contient un caractère <strong>capital</strong></p>
                        <p class="valPerror" *ngIf="form.get('password').dirty && form.get('password').hasError('hasMinuscule')">
                            <nb-icon icon="close-outline"></nb-icon>
                            Le mot de passe doit contenir un caractère <strong>minuscule</strong></p>
                        <p class="valPsucces" *ngIf="form.get('password').dirty && !form.get('password').hasError('hasMinuscule')">
                            <nb-icon icon="checkmark-circle-outline"></nb-icon>
                            Le mot de passe contient un caractère <strong>minuscule</strong></p>
                        <p class="valPerror" *ngIf="form.get('password').dirty && form.get('password').hasError('hasSpecial')">
                            <nb-icon icon="close-outline"></nb-icon>
                            Le mot de passe doit contenir un caractère <strong>spécial</strong></p>
                        <p class="valPsucces" *ngIf="form.get('password').dirty && !form.get('password').hasError('hasSpecial')">
                            <nb-icon icon="checkmark-circle-outline"></nb-icon>
                            Le mot de passe contient un caractère <strong>spécial</strong></p>
                    </div>
                    <mat-form-field class="full-width offset-1 col-lg-10"
                                    [class.mgb15]="form.get('confpassword').dirty && form.get('confpassword').invalid">
                        <mat-label>Confirmer le Mot de passe</mat-label>
                        <input class="backInput fullWidth" type="password" matInput  formControlName="confpassword" required name="confpassword"
                               placeholder="password"/>
                        <mat-error *ngIf="form.get('confpassword').dirty && form.get('confpassword').hasError('required')">
                            La confirmation du mot de passe est <strong>obligatoire</strong>
                        </mat-error>
                        <mat-error *ngIf="form.get('confpassword').dirty && form.get('confpassword').hasError('required')">
                            Le mot de passe et la confirmation doit être <strong>identique</strong>
                        </mat-error >
                        <mat-error *ngIf="form.get('confpassword').dirty &&
                        form.get('confpassword').hasError('mustMatch')">
                            Le mot de passe et la confirmation doit être <strong>identique</strong>
                        </mat-error >
                    </mat-form-field>
                    <mat-radio-group class="full-width offset-1 col-lg-10"
                                     aria-label="Select an option" formControlName="role"  name="role">
                        <div class="col-12" style="text-align: center">
                            <mat-radio-button value="user" [checked]="true">Utilisateur</mat-radio-button>
                            <mat-radio-button class="offset-1" value="admin">Administrateur</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </td>
            </tr>
        </table>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="margin: 2% auto 2% auto;" class="col-12 row noPadding">
    <button class="col-3" (click)="cancel()" style="margin: 0 2% 0 auto;"
            outline nbButton status="danger">Annuler</button>
    <button class="col-3" (click)="submit(form.value)" [disabled]="form.invalid" style="margin: 0 auto 0 2%;"
            outline nbButton type="submit" >Valider</button>
</mat-dialog-actions>