<nb-action icon="maximize-outline" (click)="openWindow()"  nbTooltip="Afficher le detail du bureau" nbTooltipClass="officeManagerTooltip" ></nb-action>
<ng-template #contentTemplate let-data>

    <div class="row">
        <div class="col-md-12">
                    <div [ngClass]="'etatOffice '+( false | strangerPipe)+' '+(data.size | officePipe:data.persons.length)"></div>
                    <div class="row show-grid col-12">
                        <h5>Information générale :</h5>
                        <div class="col-md-6">
                            <div>Batiment : {{data.building}}</div>
                        </div>
                        <div class="col-md-6">
                            <div>Etage : {{data.floor}}</div>
                        </div>
                        <div class="col-md-6">
                            <div>Numéro : {{data.num}}</div>
                        </div>
                        <div class="col-md-6">
                            <div>Taille : {{data.persons.length}}/{{data.size}}</div>
                        </div>
                    </div>
                    <div class="row show-grid">
                        <div class="col-md-12">
                            <h5>Personne :</h5>
                            <ul>
                                <li *ngFor="let person of data.persons">{{person.firstname}}</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <h5>Description :</h5>
                            <div>{{data.description}}</div>
                        </div>
                    </div>
        </div>
    </div>
</ng-template>