@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~app/office/office.component';
@import '../../../@theme/styles/themes';

/**************************************************composantWindow*****************************************************/

.color nb-card {
  background-color: #2d8ac7!important;
}
.officeManagerTooltip nb-tooltip {
  background-color: #2d8ac7;
  color: white;
}
::ng-deep .officeManagerTooltip nb-tooltip.end {
  span.arrow {
    left: -8px!important;
    top: calc(50% - 2.4px)!important;
    transform: rotate(270deg)!important;
  }
}

.etatOffice {
  height: 20px;
}

