<ngx-modal-help></ngx-modal-help>
<nb-layout>
    <nb-layout-header fixed>
        <nb-layout-column class="colored-column-basic" >
            <h1>Office Manager</h1>
        </nb-layout-column>
        <nb-layout-column  class="colored-column-basic" style="position: fixed;right: 0;">
            <nb-layout-header>
                <nb-actions>
                    <nb-action icon="person-outline"></nb-action>
                </nb-actions>
            </nb-layout-header>
        </nb-layout-column>
    </nb-layout-header>
    <nb-sidebar style="background-color: transparent!important;box-shadow: none" *ngIf="filter === 'batiment' ">
        <ngx-testside-bar-list-office (filterfloorBatiment)="filterfloorBatiment($event)"></ngx-testside-bar-list-office>
    </nb-sidebar>
    <nb-sidebar style="background-color: transparent!important;box-shadow: none" *ngIf="filter === 'etat' ">
        <ngx-radio-input-etat-list-office (filterState)="filterState($event)"></ngx-radio-input-etat-list-office>
    </nb-sidebar>
    <nb-layout-header subheader class="noPadding noMargin ">
        <nb-layout-column  class="colored-column-basic noPadding col-4" >
            <h3><strong>FILTRER PAR :</strong></h3>
        </nb-layout-column>
        <nb-layout-column  class="colored-column-basic col-8 noPadding" style="position: absolute;right: 0;">
            <nb-layout-header class="offset-8 col-4 noPadding" >
                        <nb-actions size="medium" fullWidth style="width: 100%" >
                            <nb-action style="flex: .33;cursor: pointer;" (click)="switchFilter('batiment')"
                            [ngClass]="'col-4'+' '+(filter==='batiment' ? 'activeFiltre' : 'inactiveFiltre')">Batiment</nb-action>
                            <nb-action (click)="switchFilter('etat')"
                                       style="flex: .33;cursor: pointer;" [ngClass]="'col-4'+' '+(filter==='etat' ? 'activeFiltre' : 'inactiveFiltre')">Etat</nb-action>
                            <nb-action *ngIf="false" (click)="switchFilter('nom')"
                                       style="flex: .33" [ngClass]="'col-4'+' '+(filter==='nom' ? 'activeFiltre' : 'inactiveFiltre')">Noms</nb-action>
                        </nb-actions>
            </nb-layout-header>
        </nb-layout-column>
    </nb-layout-header>
    <nb-layout-column  class="colored-column-basic" >
        <ngx-tab-office [offices]="sortedData"></ngx-tab-office>
    </nb-layout-column>
</nb-layout>