@import '~app/office/office.component';

::ng-deep  nb-layout-header nav{
    box-shadow: none !important;
}
::ng-deep  nb-layout-footer nav{
  background-color: transparent!important;
  box-shadow: none !important;
}


#nav {
  background-color: transparent;
}

::ng-deep button {

  margin-top: 2%;

  .home-button-reverse {
    border: 1px solid $color-active !important;
    background-color: white !important;
    color: $color-active !important;
  }
  .home-button {
    background-color: $color-active !important;
    color: white !important;
    border: none !important;
  }
}

