<nb-card class="department-list-container">

    <nb-list *ngIf="!isEmpty()">
        <nb-list-item>
            <form [formGroup] =  "form" class="new-department">
                <input ngModel type="text" formControlName="name" name="name" >
                <button type="submit" nbButton (click)="create(form.get('name').value)" size="tiny"><nb-icon icon="checkmark-outline"></nb-icon></button>
            </form>
        </nb-list-item>
        <nb-list-item *ngFor="let department of departments">
            <ngx-department-item (delete)="delete($event)" (update)="update($event)" [department]="department"></ngx-department-item>
        </nb-list-item>

    </nb-list>

    <p class="info" *ngIf="isEmpty()">Il n'y a pas de département</p>
</nb-card>
