.department-list-container {
    margin: auto auto 34px;
}

@media screen and (max-width: 575px) {
    .department-list-container {
        width: 90%;
    }
}

.list-item {
    display: block;
}

.info {
    color: #9e9e9e;
    margin: 2px auto;

}
.formDep {
    padding: 0!important;
}
.new-department {
    button {
        margin-top: 15px;
        float: right;
    }
}
