@import '~app/office/office.component';
@import '~app/office/temporary/map-office/map/map.component';
/*************************************************Modal****************************************************************/
.buttonHelpModal {
  border-width: 0.1rem !important;
}
.titleHelpModal {
  color: $color-active;
  margin: 2% 0%;
}
.stanger {
  color: rgba(193, 11, 0, 0.7);
}
.buttonHelpModal {
  //  position: fixed;
  //  bottom: 15px;
  //  right: 15px;
  background-color: white !important;
  //  z-index : 100;
}
.codeCouleur h5 {
  padding: 0% 2%;
}
::ng-deep {
  //nb-dialog-container {
  //  width: 100% !important;
  //  margin: 0 !important;
  //  max-width: 100% !important;
  //}

  .nb-theme-default, .nb-theme-corporate {
    .helpModal nb-card-body {
      background-color: #edf1f7;
    }
  }

  .nb-theme-dark {
    .helpModal nb-card-body {
      background-color:  #151a30;
    }
  }

  .nb-theme-cosmic {
    .helpModal nb-card-body {
      background-color: #1b1b38;
    }
  }
}
//////////////////////////////////////////////big Screen
@media screen and (min-width: 1800px) {
  .modalHeight {
    max-height: 500px !important;
    width: 800px!important;
  }
}
//////////////////////////////////////////////screen
@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .modalHeight {
    max-height: 400px !important;
    width: 700px!important;
  }
}
//////////////////////////////////////////////tablet
@media screen and (min-width: 900px) and (max-width: 1200px) {

}
//////////////////////////////////////////////phone
@media screen and (max-width: 600px) {
  .modalHeight {
    max-height: 200px !important;
    width: 200px !important;
  }
}

/********/
::ng-deep {
  .tabset {
    .tab:hover {
      .tab-link::before {
        background: #cc5d9a !important;
      }
      .tab-text {
        color: #cc5d9a !important;
      }
    }

    .active {
      .tab-link::before {
        background: #cc5d9a !important;
      }
      .tab-text {
        color: #cc5d9a;
      }
    }
  }
  .nb-theme-default nb-toast.status-warning {
    z-index: 100000000000;
    background-color: rgba(193, 11, 0, 0.7) !important;
    border-color: rgba(193, 11, 0, 0.7) !important;
    color: white!important;
    .icon-container {
      color: rgba(193, 11, 0, 0.7) !important;
    }
  }
}

