@import '~app/office/office.component';

/*************************************************Modal****************************************************************/
.modalHeight {
  max-height: 400px;
}
.titleHelpModal{
  color: $color-active;
  margin: 2% 0%;
}
.buttonHelpModal{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: white;
  z-index : 100;
}
.modalHeight {
  max-height: 400px;
}
.codeCouleur h5{
  padding: 0% 2%;
}
