@import '~app/office/office.component';
@import '~app/office/temporary/map-office/map/map.component';
/*************************************************Modal****************************************************************/

.titleHelpModal {
  color: $color-active;
  margin: 2% 0%;
}
.stanger {
  color: rgba(193, 11, 0, 0.7);
}
.buttonHelpModal {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: white;
  z-index : 100;
}
.modalHeight {
  max-height: 400px;
}
.codeCouleur h5 {
  padding: 0% 2%;
}
::ng-deep {
  .nb-theme-default, .nb-theme-corporate {
    .helpModal nb-card-body {
      background-color: #edf1f7;
    }
  }

  .nb-theme-dark {
    .helpModal nb-card-body {
      background-color:  #151a30;
    }
  }

  .nb-theme-cosmic {
    .helpModal nb-card-body {
      background-color: #1b1b38;
    }
  }
}
