@import '~app/office/office.component';

/*************************************************Modal****************************************************************/
ul {
  list-style: none;
  padding-left: 1%;
}
.headerOfficeManager {
  background-color: $color-active !important;
  color: white !important;
}

.titleHelpModal {
  color: $color-active;
  margin: 2% 0%;
}
.buttonHelpModal {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: white;
  z-index : 100;
}
.modalHeight {
  max-height: 400px;
}
.codeCouleur h5 {
  padding: 0% 2%;
}
::ng-deep {
  input {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px #edf1f7;
  }

  nb-dialog-container {
    width: 100%;
    margin: 0% !important;
    max-width: 100% !important;
  }
}
.footerOfficeManager {
  padding: 0;
  button {

    width: 100%;
    background-color: $color-active !important;
    border-color: $color-active !important;
  }
}
