<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card class="helpModal">
        <nb-card-header class="headerOfficeManager">
            Ajouter des personnes au bureaux
            <nb-icon style="float: right; cursor: pointer" (click)="ref.close()" icon="close-outline"></nb-icon>
        </nb-card-header>
        <nb-card-body class="modalHeight">
            <form [formGroup]="form">
                <mat-form-field class="example-full-width">
                    <input  (keyup)="onKey($event)" matInput placeholder="search" formControlName="search" name="search" />
                </mat-form-field>
            </form>
            <ul>
                <li *ngFor="let person of (people |AutoCompletePipeP:search)">{{person.firstame}} {{person.lastname}}
                <nb-icon icon="plus" *ngIf="person.id==0" style="float: right"
                (click)="add(person)"></nb-icon>
                <nb-icon icon="minus" *ngIf="person.id>0" style="float: right"
                (click)="supp(person)"></nb-icon></li>
            </ul>
        </nb-card-body>
        <nb-card-footer class="headerOfficeManager" style="padding: 0.2%;">
        </nb-card-footer>
    </nb-card>
</ng-template>
<nb-icon icon="plus" (click)="open(dialog)"></nb-icon>