<div class="module-border-wrap">
    <div class="uploadfilecontainer row "  ngxDragAndDrop (onFileDropped)="uploadFile($event)">
        <button class="addFile" mat-fab (click)="fileInput.click()">
            <nb-icon icon="plus"></nb-icon>
        </button>
        <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
        <div *ngFor="let file of files;let i= index" class="col-lg-3 col-md-4 col-sm-6 col-12">
            <!-- [@slider]="ani" PLease this animation to this tile to see animation. stackblitz have error with animations -->
            <div style="height: 200px;width: 100%; text-align: center"  class="fileImport col-lg-12">
                <div class="fileTilte overflow-ellipsis">{{file.name}}</div>
                <button mat-mini-fab (click)="deleteAttachment(i)" class="button-sup">
                    <nb-icon icon="trash-2"></nb-icon>
                </button>
            </div>
        </div>
        <div class="textFile" *ngIf="files.length === 0">
            <p style="color: #CC5D9A ">Ajouter des fichiers à importer</p>
        </div>
    </div>
</div>
<div class="col-12" style="text-align: center;margin-top: 2%">
    <button nbButton  style="margin: auto"  [disabled]="files.length ===0" (click)="import()">
        Importer
    </button>
</div>

