<div class="row show-grid">
    <div class="col-md-12 all">
        <ul>
            <li class="col-12" style="padding: 0%" *ngIf=" 'Loria' !== department.name">
                <span class="col-12" style="padding: 0; ">
                    <form [formGroup]= "form" class="new-team">
                        <mat-form-field class="col-lg-4" style="padding: 0;">
                            <mat-label>Nouvelle équipe</mat-label>
                            <input class="backInput" type="text" matInput  formControlName="name" required name="name"
                                   style="width: 100%;" placeholder="Nouvelle équipe"/>
                        </mat-form-field>
                        <button (click)="create(form.value)" class="btnOfficeM"
                                outline nbButton status="primary">Créer une équipe</button>
                    </form>
                </span>
            </li>
            <li *ngFor="let team of teams;index as i">
                <ngx-department-item-header class="department-item-header"  (delete)="delete(team)"
                                            (update)="update(i,department.id, team, $event)" [object]="team.name"
                                            [canUpdate] ="team.name !== department.name"></ngx-department-item-header>
            </li>
        </ul>
    </div>
</div>
