<nb-accordion >
    <nb-accordion-item>
        <nb-accordion-item-header>
            Loria
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <ngx-test-radio-input-list-office [floor]="batimentLoriaFloor"
                                              (filterFloor)="filterfloorBatiment($event, 'none')">
            </ngx-test-radio-input-list-office>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
           Bâtiment A
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <ngx-test-radio-input-list-office [floor]="batimentAFloor"
                                              (filterFloor)="filterfloorBatiment($event, 'A')">
            </ngx-test-radio-input-list-office>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
            Bâtiment B
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <ngx-test-radio-input-list-office [floor]="batimentBFloor"
                                              (filterFloor)="filterfloorBatiment($event, 'B')">
            </ngx-test-radio-input-list-office>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item >
        <nb-accordion-item-header >
            Bâtiment C
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <ngx-test-radio-input-list-office [floor]="batimentCFloor"
                                              (filterFloor)="filterfloorBatiment($event, 'C')">
            </ngx-test-radio-input-list-office>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
