
/****************************************table************************************************************************/
table {
    width: 100%;
}
td {
    width: 20%;
    padding: 1%;
}
th {
    width: 20%;
    padding: 1%;
}
