<mat-dialog-content>
    <form novalidate [formGroup]="form">
        <table class="full-width" cellspacing="0">
            <tr class="col-lg-12 row" style="padding: 0%;margin: 0%">
                <td class="col-lg-6" style="">
                    <mat-form-field class="full-width" [class.mgb15]="form.get('date').dirty && form.get('date').invalid">
                        <label>
                            <input matInput placeholder="Date" formControlName="date" required name="date"
                                   [nbDatepicker]="picker">
                        </label>
                        <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>
                        <mat-error *ngIf="form.get('date').dirty && form.get('date').hasError('required')">
                            La date est <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
<!--                    <mat-form-field class="full-width" [class.mgb15]="form.get('dateFin').dirty && form.get('dateFin').invalid">-->
<!--                        <label>-->
<!--                            <input matInput placeholder="Date de fin" formControlName="dateFin" required name="dateFin"-->
<!--                                   [nbDatepicker]="picker2">-->
<!--                        </label>-->
<!--                        <nb-datepicker #picker2 [min]="min" [max]="max"></nb-datepicker>-->
<!--                        <mat-error *ngIf="form.get('dateFin').dirty && form.get('dateFin').hasError('required')">-->
<!--                            La dateFin est <strong>required</strong>-->
<!--                        </mat-error>-->
<!--                        <mat-error *ngIf="form.invalid">-->
<!--                            La dateFin est <strong>inferieur</strong>-->
<!--                        </mat-error>-->
<!--                    </mat-form-field>-->
                </td>
            </tr>
        </table>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="padding: 0; margin: auto" class="col-12 row">
    <button class="col-5" (click)="submit(form.value)" [disabled]="form.invalid" style="margin: auto 0% auto auto"
            outline nbButton type="submit" >Rechercher</button>
</mat-dialog-actions>