table {
  width: 100%;
}
.overflow-ellipsis {
  /* Nécessaires pour text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td {
  width: 20%;
  padding: 1%;
}
.borderSimpleL {
  border-left: 1px solid black;
}
.borderSimpleR {
  border-right: 1px solid black;
}
/****************************************table************************************************************************/
.rowGrey {
  background-color: #eaeaea;
}
th {
  width: 20%;
  padding: 1%;
}
