<table  matSort (matSortChange)="sortData($event)">
    <tr>
        <th mat-sort-header="name" class="borderSimpleL">Nom</th>
        <th mat-sort-header="floor" class="borderSimpleL">Etage</th>
        <th mat-sort-header="building" class="borderSimpleL">Batiment</th>
        <th mat-sort-header="size" class="borderSimpleL borderSimpleR">Taille</th>
    </tr>
    <tr *ngFor="let office of offices; let index = index" [className]=" index % 2 ===1 ? 'rowBack' : 'rowNormal' ">
        <td>{{name(office)}} <ngx-window-office style="position: absolute" [office]="office"></ngx-window-office></td>
        <td>{{office.floor}}</td>
        <td>{{office.building}}</td>
        <td [className]="( office.hasStrangers | strangerPipe)+' '+(office.size | officePipe:office.occupation)">{{people(office)}}/{{office.size}}</td>
    </tr>
</table>