<table  matSort (matSortChange)="sortData($event)">
    <tr>
        <th mat-sort-header="name" class="borderSimpleL">Nom</th>
        <th mat-sort-header="size" class="borderSimpleL">Capacité Max</th>
        <th mat-sort-header="occupation" class="borderSimpleL borderSimpleR">Pourcentage d'occupation</th>
    </tr>
    <tr *ngFor="let office of ((offices | BuildingFloorPipe: stateFilter.floor: stateFilter.building)
    | StateOfficePipe: stateFilter.stateOffice) | AutoCompletePipe:stateFilter.name ; let index = index" [className]=" index % 2 ===1 ? 'rowBack' : 'rowNormal' ">
        <td>{{name(office)}} <ngx-window-office  *ngIf="!stateFilter.dateFilter" style="position: absolute" (ChangeOffice)="changeOffice($event)" [office]="office"></ngx-window-office></td>
        <td>{{office.size}}</td>
        <td [className]="( office.hasStranger | strangerPipe)+''+(office.size | officePipe:office.occupation)">{{people(office).toFixed(0)}}%</td>
    </tr>
</table>